{% extends "basetemplate.html" %}

{% block title %}
Alla customers
{% endblock %}


{% block content %}

Visar sidan {{ page }} av totalt {{ pages }}

<table class="table">
    <thead>
        <th>
            Namn
            <a href="/customers?sortColumn=namn&sortOrder=asc">
                <i class='bx bx-up-arrow-alt'></i>
            </a>
            <a href="/customers?sortColumn=namn&sortOrder=desc">
                <i class='bx bx-down-arrow-alt'></i>
            </a>
        </th>
        <th>
                City
                <a href="/customers?sortColumn=city&sortOrder=asc">
                    <i class='bx bx-up-arrow-alt'></i>
                </a>
                <a href="/customers?sortColumn=city&sortOrder=desc">
                    <i class='bx bx-down-arrow-alt'></i>
                </a>
            </th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {%  for p in listOfCustomers  %}
        <tr>
            <td>{{ p.Name }}</td>            
            <td>{{ p.City }}</td>        
            <td>
                <a href="/customer/{{ p.Id }}" class="btn">
                    Se mer
                </a>
            </td>        
            <td>
                <a href="/customerimage/{{ p.Id }}">
                    <img src="https://img.systementor.se/{{ p.Id }}/300/200" />
                </a>
            </td>    
        </tr>
        {%  endfor  %}
        </tbody>
        <tfoot>
            <tr>
                  <td>
                    {% if has_prev %}
                    <a class="btn" href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}">
                        Prev
                    </a>
                    {% endif %}
                  </td>  
                  <td></td>
                  <td></td>
                  <td>
                    {% if has_next %}
                    <a class="btn" href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}">
                        Next
                    </a>
                    {% endif %}
                  </td>
            </tr>
        </tfoot>

</table>


{% endblock %}


