{% extends "basetemplate.html" %}

{% block title %}
Alla kunder
{% endblock %}

{% block content %}

<h1>Customers</h1>
<a href="/newcustomer" class="btn">New</a>

<table class="table">
    <tr>
        <td>Namn</td>
        <td>City</td>
        <td>Amount</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    {% for c in customers  %}
        <tr>
            <td>
                {{ c.Name }}
            </td>
            <td>
                {{ c.City }}
            </td>
            <td>
                {{ c.Amount }}
            </td>
            <td>
                <a href="/editcustomer/{{ c.Id }}">
                    <i class='bx bx-edit-alt'></i>
                </a>
            </td>
            <td>
                <a href="/withdraw/{{ c.Id }}">
                    <i class='bx bx-money-withdraw'></i>
                </a>
            </td>            
        </tr>
    
    {% endfor %}
</table>
{% endblock %}    
